{% extends "base.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %}


{% block content %}
 <link rel="stylesheet" href="{% static 'css/forms.css' %}" >


    <!--<h3>Items in stock</h3>
    <ul>
    	{% for item in items %}
    		<li>
    			<a href="{% url 'item_detail' item.id %}">
    				{{ item.title|capfirst }}
    			</a>
    		</li>
    	{% endfor %}
    </ul> -->
    <div class="main-wrapper">

    <h1 class='basic'>

    This is forms testing 
    </h1>
    
    <div class="forms-container">
    <!-- {% crispy form %} -->
    <div class="bs-example">
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong> Your message has been sent successfully.
    </div>
</div>



<form action="{% url 'subject_to_change' %}" method='post'>{% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Submit' />
</form>


    </div>

    </div>
        
    
{% endblock %}
