{% extends "base.html" %}

{% load staticfiles %}



{% block content %}
<link rel="stylesheet" href="{% static 'css/tables.css' %}" >

    <div class="basic">
    This is testing for tables page.


   <div style="text-align: center; font-size: 12px; margin-top: 2cm;"> 
   here are fields
<form action="{% url 'subject_to_change' %}" method="post">{% csrf_token %}
	<p><label for="cost">Cost:</label><input type="text" name="cost" value="2"/></p>
	<input type="submit" name="Submit"/>

	
</form>

   </div>
        
    </div>
{% endblock %}
