{% extends "base.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %}


{% block content %}
 <link rel="stylesheet" href="{% static 'css/forms.css' %}" >


    <!--<h3>Items in stock</h3>
    <ul>
    	{% for item in items %}
    		<li>
    			<a href="{% url 'item_detail' item.id %}">
    				{{ item.title|capfirst }}
    			</a>
    		</li>
    	{% endfor %}
    </ul> -->
    <div class="main-wrapper">

    <h1 class='basic'>

    This is displaying avaiable user story subjects!
    </h1>
<!--     {% for d in data %}
    <div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">{{ d.subject }}</h4>
    <p class="list-group-item-text">...</p>
  </a>
</div>

<div class="well well-sm">...</div>
  

{% endfor %}
 -->

{% for d in data %}
<div class="col-md-1"> 

<div class="well well-sm">{{ d.subject }}</div>

</div>
{% endfor %}



    </div>
        
    
{% endblock %}
