
.main-wrapper{
	height: 800px;

}

.basic {
	font-size: 30px;
    color: #0000FF;
    text-align: center;
}

.forms-container{
	margin-top: 3.5cm;
	font-size: 16px;
	text-align: center;
	text-transform: center;
	color: #0f0e0f;
    padding: 10px;
}