body, html {
    height: 100%;
}

.basic {
    /*background-image: url("images/9cc4b4d1.png");*/
    background: #ECE9E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #FFFFFF, #ECE9E6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
