{% extends "base.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    {#    <link rel="stylesheet" href="{% static 'css/common.css' %}">#}
    <script type="text/javascript" src='{% static 'js/jquery.js' %}'></script>
    <script type="text/javascript" src='{% static 'js/modal_display.js' %}'></script>



    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    {% if data.is_us %}

        <div class="page-header">
            <h1 class="text-center"> Display user stories</h1>
        </div>

        <section class="main-wrapper">


        {% for item in data %}

            <div class="col-6 col-md-4">

                <div>
                    <button style="width: 250px; padding: 15px; margin: 12px; font-size: 13px; white-space: normal;"
                            class="btn btn-primary btn-md pop"
                            pageTitle="Created on: {{ item.created }}, by: {{ item.created_by|title }}"
                            pageName="modal_detail_view/{{ item.id }}"> {{ item.case_title }} </button>

                </div>
            </div>

        {% endfor %}


        {#        {% else %}#}
        {##}
        {#            <section class="warning" style="padding-top: 30px;">#}
        {#                There are no users story created yet, please add some and come back to this page!#}
        {#            </section>#}
        {##}
    {% endif %}

</section>

    {% if data.is_category %}

        <div class="page-header">
            <h1 class="text-center"> Display categories</h1>
        </div>

        <section class="main-wrapper">



        {% for item in data %}

            <div class="col-6 col-md-4">

                <div>
                    <button style="width: 250px; padding: 15px; margin: 12px; font-size: 13px; white-space: normal;"
                            class="btn btn-primary btn-md pop"
                            pageTitle="{{ item.created }}"
                            pageName="modal_detail_view/{{ item.id }}"> {{ item.name }} </button>

                </div>
            </div>

        {% endfor %}

        {#        {% else %}#}
        {##}
        {#            <section class="warning" style="padding-top: 30px;">#}
        {#                There are no users story created yet, please add some and come back to this page!#}
        {#            </section>#}
        {##}
    {% endif %}


</section>


    {% block javascript %}

        <script>
            $(function () {
                $(".pop").click(function () {
                    var pageTitle = $(this).attr('pageTitle');
                    var pageName = $(this).attr('pageName');
                    $(".modal .modal-title").html(pageTitle);
                    $(".modal .modal-body").html("Content loading please wait...");
                    $(".modal").modal("show");
                    $(".modal .modal-body").load(pageName);
                });
            });
        </script>

    {% endblock %}


{% endblock %}