{#{% extends "base.html" %}#}
{##}
{#{% load crispy_forms_tags %}#}
{##}
{#{% load staticfiles %}#}
{##}
{##}
{#{% block content %}#}
{#<link rel="stylesheet" href="{% static 'css/login.css' %}" >#}
{##}
{#    <!--<h3>Items in stock</h3>#}
{#    <ul>#}
{#    	{% for item in items %}#}
{#    		<li>#}
{#    			<a href="{% url 'item_detail' item.id %}">#}
{#    				{{ item.title|capfirst }}#}
{#    			</a>#}
{#    		</li>#}
{#    	{% endfor %}#}
{#    </ul> -->#}
{#    <div class="basic">#}
{#    This is testing for charts page.#}
{##}
{#    </div>#}
{#{% endblock %}#}
